<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> Registered Users </h1>

<% @rowarray.each do |row| %>
  <p>"<%= row[0] %>": <%= row[1] %> </p>
<% end %>
</body>
</html>