<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1> Registered Users </h1>
<% @users.each do |row| %>
  <p>"<%= row['email'] %>": <%= row['score'] %> </p>
<% end %>

<%= form_tag({:action => :import}, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag( "Filter" ) %>
<% end %>
</body>
</html>